<footer
               class="footer -type-1 bg-dark-1" style=background-image:url()>
               <div
                  class=container>
                  <div
                     class=footer__top>
                     <div
                        class="row y-gap-48 justify-content-between">
                        <div
                           class="col-lg-auto col-sm-12">
                           <a
                              href="/" class="footer__logo text-white">
                           Alliance.
                           </a>
                        </div>
                        <div
                           class="col-lg-3 col-sm-6">
                           <h4 class="text-xl fw-500 text-white">
                              Address
                           </h4>
                           <div
                              class="footer__content text-base text-light mt-16 sm:mt-12">
                              <p>
                                 Rudra Complex, Ambawadi, Ahmedabad
                              </p>
                              <p
                                 class=mt-8><a
                                 href=mailto:infoalliancedesign@gmail.com>infoalliancedesign@gmail.com</a></p>
                              <p
                                 class=mt-8><a
                                 href="tel:+91 7698387770">+91 7698387770</a></p>
                              
                                 <p
                                 class=mt-8><a
                                 href="tel:+91 9904079123">+91 9904079123</a></p>

                           </div>
                        </div>
                        <div
                           class="col-lg-auto col-sm-4">
                           <h4 class="text-xl fw-500 text-white">
                              Links
                           </h4>
                           <div
                              class="footer__content text-base text-light mt-16 sm:mt-12">
                              <ul>
                                 
                                 <li
                                    id=menu-item-406 class="nav-btn-box-no menu-item menu-item-type-post_type menu-item-object-page menu-item-406"><a
                                    href="/#about" data-barba class="button -underline mt-4">About</a></li>
                                 <li
                                    id=menu-item-404 class="nav-btn-box-no menu-item menu-item-type-post_type menu-item-object-page menu-item-404"><a
                                    href="/#companyy" data-barba class="button -underline mt-4">Services</a></li>
                                 <li
                                    id=menu-item-405 class="nav-btn-box-no menu-item menu-item-type-post_type menu-item-object-page menu-item-405"><a
                                    href="/contact" class="button -underline mt-4">Contact</a></li>
                              </ul>
                           </div>
                        </div>
                        <div
                           class="col-lg-auto col-auto">
                           <h4 class="text-xl fw-500 text-white">
                              Follow Us
                           </h4>
                           <div
                              class="social -bordered mt-16 sm:mt-12">
                              <a
                                 class="social__item text-white border-light" href="https://www.facebook.com/AllianceLogoDesign/">
                              <i
                                 class="fab fa-facebook-f"></i>
                              </a>
                              <a
                                 class="social__item text-white border-light" href="https://www.youtube.com/channel/UCbjLquqFvaMuC8oyyxBfjYA">
                              <i
                                 class="fab fa-youtube"></i>
                              </a>
                              <a
                                 class="social__item text-white border-light" href="https://instagram.com/alliance_logo_designs?igshid=YmMyMTA2M2Y=">
                              <i
                                 class="fab fa-instagram"></i>
                              </a>
                              <!-- <a
                                 class="social__item text-white border-light" href=#>
                              <i
                                 class="fab fa-behance"></i>
                              </a> -->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div
                     class="footer__bottom -light">
                     <div
                        class=row>
                        <div
                           class=col>
                           <div
                              class=footer__copyright>
                              <div
                                 class=text-light>
                                 <p>© Copyright 2021 Alliance.
                                     <!-- Developed By  -->
                                    <!-- <a
                                    class="text-weight-700 js-pointer-small" href=https://themeforest.net/user/webredox/portfolio>webRedox</a> -->
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>